<!-- This is the fusion configuration file.  Adjust as necessary. -->
<Configuration>
	<!-- The general section contains settings that are general to fusion as a whole. -->
	<General>
		<!-- PHP is the default and only script language supported.  Don't change this. -->
		<ScriptLanguage>php</ScriptLanguage>
		<!-- A directory on this system that fusion can use for temporary files. -->
		<TemporaryDirectory>/tmp</TemporaryDirectory>
	</General>
	<!-- The MapGuide section is required if you are installing fusion for MapGuide. -->
	<MapGuide>
		<!-- The WebTierURL is the url to mapguide, it should start with http and end
		     with /mapguide.  If you have installed fusion inside the www directory
		     of MapGuide, then you can leave this empty as it will be automatically
		     calculated. -->
		<WebTierUrl></WebTierUrl>
	</MapGuide>
	<!-- The MapServer section is required if you are installing fusion for MapServer. -->
	<MapServer>
		<!-- The URL of the mapserver CGI that you want to use.  -->
		<MapserverCGI>/cgi-bin/mapserv</MapserverCGI>
		<!-- The file system path to where mapserver should put web-accessible temporary images. -->
		<ImagePath>/tmp/ms_tmp</ImagePath>
		<!-- The URL to the image path configured above. -->
		<ImageUrl>http://localhost/tmp/ms_tmp</ImageUrl>
	</MapServer>
</Configuration>