
.jxLman {
  font-size: 80%;
}

.jxLmanMap {
  margin: 0px;
  padding: 2px;
}

.jxLmanMapSet {
  margin: 0px;
  background-color: 0x222;
}

.jxLmanLayer li {
  margin: 0px;
  padding: 4px;
}

.jxLmanHandle {
  font-size: 14px;
  font-weight: bold;
}
