img.buffer { background-position: 0px 0px; }
img.edit-copy { background-position: -16px 0px; }
img.edit-cut { background-position: -32px 0px; }
img.edit-duplicate { background-position: -48px 0px; }
img.edit-paste { background-position: -64px 0px; }
img.edit-redo { background-position: -80px 0px; }
img.edit-undo { background-position: -96px 0px; }
img.file-open { background-position: -112px 0px; }
img.file-print { background-position: -128px 0px; }
img.file-save { background-position: -144px 0px; }
img.help { background-position: -160px 0px; }
img.icon_back { background-position: -176px 0px; }
img.icon_forward { background-position: -192px 0px; }
img.icon_home { background-position: -208px 0px; }
img.icon_invokeurl { background-position: -224px 0px; }
img.icon_tasks { background-position: -240px 0px; }
img.imagestrip { background-position: -256px 0px; }
img.legend-layer { background-position: -1040px 0px; }
img.legend-map { background-position: -1056px 0px; }
img.legend-raster { background-position: -1072px 0px; }
img.legend-theme { background-position: -1088px 0px; }
img.measure { background-position: -1104px 0px; }
img.move-down { background-position: -1120px 0px; }
img.move-up { background-position: -1136px 0px; }
img.navigator { background-position: -1152px 0px; }
img.pan-east { background-position: -1168px 0px; }
img.pan-north { background-position: -1184px 0px; }
img.pan-south { background-position: -1200px 0px; }
img.pan { background-position: -1216px 0px; }
img.search { background-position: -1232px 0px; }
img.select-attribute { background-position: -1248px 0px; }
img.select-centre { background-position: -1264px 0px; }
img.select-clear { background-position: -1280px 0px; }
img.select-features { background-position: -1296px 0px; }
img.select-polygon { background-position: -1312px 0px; }
img.select-query { background-position: -1328px 0px; }
img.select-radius { background-position: -1344px 0px; }
img.select-rectangle { background-position: -1360px 0px; }
img.select-zoom { background-position: -1376px 0px; }
img.select { background-position: -1392px 0px; }
img.view-back { background-position: -1408px 0px; }
img.view-forward { background-position: -1424px 0px; }
img.view-refresh { background-position: -1440px 0px; }
img.warning { background-position: -1456px 0px; }
img.west { background-position: -1472px 0px; }
img.zoom-full { background-position: -1488px 0px; }
img.zoom-in-fixed { background-position: -1504px 0px; }
img.zoom-in { background-position: -1520px 0px; }
img.zoom-out-fixed { background-position: -1536px 0px; }
img.zoom-out { background-position: -1552px 0px; }
